#header {
	margin: 0;
	height: 50px;
	display: flex;
	align-items: center;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);

	background-color: black;
	color: white;
}

app-modal {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#desktop {
	display: flex;
	height: calc(100vh - 50px);
}

.modaltable {
	width: 100%;
}

list-view {
	flex: 1;
	background-color: #e3e3e3;
}

h1 { 
	margin-left: 10px;
}