.header {
	background-color: #e3e3e3;
	width: calc(100% - 20);
	display: flex;
}

.contain {
	height: 100%;
	overflow-y: scroll;

}

h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	padding-left: 12px;
}

button{
	width: 43px;
	font-size: 16px;
	border: none;
	background-color: green;
	color: white;
}

input {
	width: 250px;
}

.subheader {
	display: flex;
	flex-direction: row;
	margin-left: auto;
}

.table{
	background-color: white;
}

.row {
	padding: 10px;
	border-bottom: 1px solid rgb(240,240, 240);
}	

.row:hover {
	background-color: #e3e3e3;
} 