input, h3, h4{
	flex: 1;
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid rgb(240,240, 240);
}

button{
	width: 43px;
	height: 42px;
	font-size: 16px;
	border: none;
	background-color: green;
	color: white;
}

h4:hover {
	background-color: #e3e3e3;
}

.header {
	display: flex;
	width: 100%;
}

.selected {
	background-color: #e3e3e3;
}

.text-center {
	text-align: center;
}

.head-background {
	background-color: #89bbd3;
}

.side-nav-container {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 250px;
	border-right: 1px solid rgb(232,232, 232);
	overflow-y: scroll;
	box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.15);
	cursor: pointer;
}