<div class="side-nav-container grey-background capitalize">
  <h3 (click)="onSelect()" class="text-center head-background">Lists</h3>
<div class="header">
  <input [(ngModel)]="listToAdd" placeholder="New List Title"><button (click)="onAddList()"> + </button>
</div>

  <div [class.selected]="list === currentList" class="side-nav-item" *ngFor="let list of lists">
    <h4 (click)="onSelect(list)">{{list.name}}</h4><button class="delete" (click)="onTableDelete(list.name)"> - </button>
  </div>
</div>